<% if user_signed_in?%>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Twitter</th>

        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td>
              <%= link_to friend.first_name + ' ' + friend.last_name, friend  %>
            </td>
            <td><%= friend.phone %></td>
            <td><%= friend.email %></td>
            <td><%= friend.twitter %></td>

            <td>
              <%= link_to 'Kill Friend', friend, method: :delete, data: { confirm: 'Are you sure? Killing a friend means they won\'t be able to call your up for drinks and you probably don\'t like them anymore '}, class: 'btn btn-outline-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Friend', new_friend_path, class: "btn btn-secondary" %>
<% else %>
  <h1>Lonely? Get some Friends</h1>
  This is the worlds best place to keep track of who's who and what's what. Got
  no friends? Get some! Got some, keep track of them!
<% end %>
